/* display window */
#keycaster {
	list-style : none;
	width : 500px;
	text-align : left;
	background : #222;
	color: #ddd;
	border : #555 1px solid;
	border-radius : 1em;
	-moz-border-radius : 1em;
	-webkit-border-radius : 1em;
	padding : 20px;
	position : fixed;
	right : 10px;
	top : 10px;
}

/* all keys */
#keycaster .keycasterKey {
	font-size : 18px;
	font-weight : 900;
	padding : .2em .5em;
	line-height : 2.2em;
	border : transparent 5px solid;
	white-space : nowrap;
}

/* named keys (e.g. Shift, Alt, Insert, etc.) */
#keycaster .keycasterKey.namedKeys {
	border-color : #555;
	border-radius : .5em;
	-moz-border-radius : .5em;
	-webkit-border-radius : .5em;
}

/* animated png default z-index */
.keycasterClickedArea {
	z-index : 9999;
}
/* animated png must be under radio buttons & link so they work */
.keycasterUnderArea {
	z-index : -10;
}