/*
 * Keycaster Bookmarklet CSS
 */

.kc-wrap {
	height : 180px;
	width : 180px;
	z-index : 1001;
	font-size : 12px;
	color : #222;
	background : #ccc;
	border-radius : .5em;
	-moz-border-radius : .5em;
	-webkit-border-radius : .5em;
	padding : 10px;
	position : fixed;
	left : 10px;
	top : 10px;
}

.kc-wrap tr, .kc-wrap td, .kc-wrap input, .kc-wrap select {
	padding: 0;
	margin: 0 0 0 2px;
}

.kc-close {
	float : right;
	font-size : 18px;
	font-weight : 700;
	cursor : pointer;
}

.kc-hdr {
	font-size : 18px;
	font-weight : 700;
	color : #008;
}

.kc-wrap td.kc-leftPad {
	padding-left : 20px;
}

.kc-imgUrl {
	float : right;
}

.kc-unMessage, .kc-lines, .kc-displayTime {
	width : 40px;
	float : right;
	line-height: 18px;
}